* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", sans-serif;
}

a {
    color: #ffffff;
}

header {
    height: 70px;
    background-color: #ffffff;
}

.wrapper {
    height: 100vh;
    padding-top: 70px;
}

#side_menu {
    width: 80px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    padding-top: 20px;
}

@media screen and (min-width: 992px) { 
    
    #side_menu {
        width: 160px;
    }

}

.logo_big {
    width: 120px;
}

.box {
    /* debug */
    width: 100%;
    background-color: violet;
    height: 50px;
}

header input {
    width: 100%;
    border: 0;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 5px 10px 5px 25px;
    margin-left: 10px;
    font-size: smaller;
}

.fa-bell {
    color: #ff8f00;
}

#side_menu .nav-link {
    color: #ffffff;
    font-size: smaller;

}

.fa-magnifying-glass {
    position: absolute;
    left: 15px;
    top: 7px;
}

#blue_bg {
    background-color: #1b72e8;
}


section {
    /* padding-top: 20px; */
}


